:root {
  --primary-bg-color: #ffffff;
  --hero-color: #2f303a;
  --title-text-color: #212121;
  --text-color: #757575;
  --selection-color: #2196f3;
  --btn-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*--------- HEADER ---------*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
span {
  color: var(--selection-color);
}

.header-container,
.header-nav,
.header-list {
  display: flex;
  align-items: center;
}
.header-contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list .current {
  color: var(--selection-color);
  position: relative;
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--selection-color);
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-cont {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-link:hover,
.header-link:focus,
.header-cont:hover,
.header-cont:focus {
  color: var(--selection-color);
}

/*--------- HERO INDEX.html---------*/
.hero {
  text-align: center;
  padding: 200px 0;
}
.hero-container {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
  background-color: var(--hero-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-bg-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-btn {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background-color: var(--selection-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 0 485px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
/*--------- MAIN BENEFITS INDEX.html---------*/
.benefits {
  padding-top: 95px;
  padding-bottom: 95px;
}
.benefits-list {
  display: flex;
  align-items: center;
}
.benefits-item {
  max-width: 270px;
}
.benefits-item:not(:last-child) {
  margin-right: 30px;
}
.benifits-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--btn-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*--------- MAIN ABOUT INDEX.html---------*/
.about {
  padding-top: 0;
  padding-bottom: 100px;
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
  text-align: center;
}
.about-list {
  display: flex;
  margin-left: -30px;
}

.about-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  position: relative;
}
.text-about {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  background-color: rgba(47, 48, 58, 0.8);
}
/*--------- MAIN OUR TEAM INDEX.html---------*/
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
  text-align: center;
}
.team-list {
  display: flex;
  margin-left: -30px;
}
.team-item {
  width: calc(100% / 4 - 30px);
  min-height: 368px;
  margin-left: 30px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-job {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}
.team-social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}
.team-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  fill: var(--primary-bg-color);
  background-color: var(--selection-color);
}

/*--------- CLIENTS INDEX.html---------*/
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
  text-align: center;
  padding-top: 94px;
  margin-bottom: 50px;
}
.clients-icon-list {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}
.clients-item + .clients-item {
  margin-left: 30px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background-color: var(--primary-bg-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  fill: var(--selection-color);
  border-color: var(--selection-color);
}
/*--------- FILTER PORTFOLIO.html---------*/
.filter {
  padding-top: 94px;
  padding-bottom: 50px;
}
.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--btn-color);
  border-radius: 4px;
  text-align: center;
  padding: 6px 22px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover {
  color: var(--primary-bg-color);
  background-color: var(--selection-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*--------- MAIN PORTFOLIO.html---------*/
.main {
  padding-bottom: 94px;
}
.main-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.main-item {
  position: relative;
  margin-left: 30px;
  margin-bottom: 30px;
  width: calc(100% / 3 - 30px);
  border: 1px solid #eeeeee;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.main-item:hover .overlay-text {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-item-overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 4px;
}
.main-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin-left: 24px;
  margin-bottom: 20px;
}
/*--------- FOOTER---------*/

.footer {
  background-color: var(--hero-color);
  max-height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--primary-bg-color);
}

.footer-contact {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.contact {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
  color: var(--selection-color);
}

.footer-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-address {
  display: flex;
  flex-direction: column;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--primary-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--selection-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* MODAL WINDOW */

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 25%;
  /* top: 30%; якщо ставлю  top: 50%;  модальне вікно відображається на пів екрану силка на скрін: http://ipic.su/img/img7/fs/kiss_238kb.1644362673.jpg */
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  fill: var(--selection-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field:nth-child(4),
.form-field:nth-child(5) {
  margin-bottom: 0;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  color: var(--title-text-color);
  cursor: pointer;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_input:hover,
.form_input:focus,
.form-text:hover,
.form-text:focus {
  border-color: var(--selection-color);
  color: var(--title-text-color);
}

.form_input:hover + .input-icon,
.form_input:focus + .input-icon {
  fill: var(--selection-color);
}

.input-text {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
  outline: none;
}

.form-text {
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-text {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 12px;
  text-align: center;
  font-style: 400;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--text-color);
  cursor: pointer;
}

.check-text span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
}

.policy-icon {
  fill: transparent;
}

.policy_check:checked + .check-text span {
  background-color: var(--primary-bg-color);
  border: none;
}

.policy_check:checked + .check-text .policy-icon {
  fill: var(--primary-bg-color);
  background-color: var(--selection-color);
  border-radius: 2px;
}
.policy-link {
  color: var(--selection-color);
}
/* .check-text::before {
  content: '';
  width: 15px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
}
.policy_check:checked + .check-text::before {
  border: none;
  background-image: url(../images/icon\ check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

.submit_btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 56px;
  width: 200px;
  height: 50px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background-color: var(--selection-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit_btn:hover,
.submit_btn:focus {
  background-color: #188ce8;
}

/* FOOTER SUBSCRIBE */

.form_footer {
  display: flex;
  flex-direction: row;
}

.form_subscribe {
  margin-left: 93px;
}

.subscribe-text {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

.subscribe-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  background-color: var(--hero-color);
  cursor: pointer;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn {
  position: relative;
  align-self: flex-end;
  padding: 10px 62px 10px 29px;
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background-color: var(--selection-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #188ce8;
}

.subscribe-input:hover,
.subscribe-input:focus {
  border-color: var(--selection-color);
}
.send-icon {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--primary-bg-color);
}
